---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>

      <p class="excerpt">
        {{ post.excerpt | split: '</h2>' | last | strip_html | truncate:200}} <a href="{{post.url | prepend: site.baseurl }}">[본문보기]</a>
      </p>

    </li>
    {% endfor %}
  </ul>


  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
    {% else %}
    <span class="next">Next</span>
    {% endif %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
